* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* @import url("responsive.css"); */

@font-face {
    font-family: "SF Movie Font";
    src: url(../fonts/sf-movie-poster.regular.ttf);
}

body {
    color: #0E0E0E;
    font-family: 'Raleway',
        sans-serif;
    background-color: #EFEFEF;
}

a {
    text-decoration: none;
    color: #0E0E0E;
}

li {
    list-style: none;
}

.container {
    width: 1640px;
    margin: 0 auto;
}

/* -----------header --------*/
#header {
    background: transparent url(../images/Mask\ Group\ 5.png) 0% 0% no-repeat padding-box;
    height: 1082px;
    position: relative;
    background-position: -152px;
}

#header .container {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.header-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 83px;
    overflow: hidden;
    /* position: relative; */
}

.header-top .header-brand {
    color: #fff;
    font-size: 44px;
    font-weight: 700;
}

.header-top .header-menu {
    display: flex;
    margin-right: -40px;
}

.header-top .header-menu .nav-link {
    margin: 0 40px;
    font-weight: 400;
    position: relative;
}

.header-top .header-menu .nav-link::after {
    content: "";
    width: 0;
    height: 1px;
    background-color: #E54B4E;
    transition: all 0.5s ease-in-out;
    position: absolute;
    bottom: 0;
    left: 0;
}

.header-top .header-menu .nav-item:hover .nav-link::after {
    width: 100%;
}

.header-top .header-menu .nav-link::before {
    content: "";
    width: 0;
    height: 1px;
    background-color: #E54B4E;
    transition: all 0.5s ease-in-out;
    position: absolute;
    bottom: 0;
    right: 0;
}

.header-top .header-menu .nav-item:hover .nav-link::before {
    width: 100%;
}

.header-top .header-menu .nav-item:hover .nav-link {
    color: #0AA4A1;
}

.menu-bar {
    display: none;
}

.menu-bar .bar {
    display: block;
    width: 30px;
    height: 2px;
    background-color: #0E0E0E;
    margin-bottom: 10px;
    transition: all 0.5s;
}

/* header bottom */

.header-bottom {
    display: flex;
    flex: 1;
    align-items: flex-end;
    justify-content: space-between;
}

.header-social {
    flex: 1;
    align-self: flex-end;
    padding-bottom: 40px;
    display: flex;
    flex-direction: column;
}

.social-desc {
    width: 80%;
    font-size: 18px;
    text-align: right;
    color: #fff;
    font-weight: 500;
    line-height: 31px;
    margin-bottom: 47px;
    letter-spacing: 0.95px;
}

.social-icons a:first-child {
    margin-right: 40px;
}

.header-service {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    padding-bottom: 100px;
}

.header-service-top {
    width: 668px;
}

.header-service-button {
    padding: 24px 32px;
    background-color: #E54B4E;
    color: #fff;
    border-radius: 5px;
    font-size: 16px;
    font-weight: 600;
    margin-top: 95px;
    position: relative;
}

.header-service-button::after {
    content: "";
    width: 0;
    height: 2px;
    background-color: #dedede;
    position: absolute;
    bottom: 20px;
    left: 32px;
    transition: all 0.5s;
}

.header-service-button:hover:after {
    width: calc(100% - 64px);
}

.header-service-content {
    display: flex;
    justify-content: space-between;
    margin-left: -25px;
    margin-right: -25px;
    margin-top: 99px;
}

.header-service-content .service-content-item {
    width: 33.33333%;
    margin-left: 25px;
    margin-right: 25px;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.header-service-content .service-content-item img {
    align-self: flex-start;
}

.service-content-item p {
    padding: 36px 0;
    text-align: left;
    font-size: 16px;
    font-weight: 600;
    position: relative;
}

.service-content-item p::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 80%;
    height: 1px;
    background-color: #E54B4E;
    transition: all 0.8s;
}

.service-content-item:hover p::after {
    width: 0;
}

.service-content-item p::before {
    content: "";
    position: absolute;
    bottom: -8px;
    right: 0;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    border: 1px solid #18C3EC;
}

.header-service-desc {
    color: #0AA4A1;
    font-size: 40px;
    font-weight: 400;
    margin-top: 12px;
}

.header-service-title {
    color: #E54B4E;
    font-size: 50px;
    font-weight: 900;
}

/* ----------------- Services -------------------------------- */
#service {
    padding-top: 215px;
    padding-bottom: 218px;
    background: transparent url(../images/Mask\ Group\ 25.png) no-repeat;
    background-position: right 0 top 618px;
}

#service .service-title {
    display: flex;
    flex-direction: column;
    width: 50%;
    margin-bottom: 48px;
}

.service-title .service-title-item {
    padding-left: 138px;
    font-size: 61px;
    font-weight: 500;
}

.service-title .service-title-item:nth-child(2) {
    align-self: flex-end;
    color: #E54B4E;
}

.service-title .service-title-item:nth-child(3) {
    align-self: center;
}

.service-category {
    padding-left: 138px;
    padding-right: 138px;
    overflow: hidden;
}

.service-category .item-1 {
    width: 398px;
    padding-top: 334px;
}

.service-category .item-2 {
    width: 682px;
    padding-top: 269px;
}

.service-category .item-2 .service-name {
    margin-left: 188px;
}

.service-category .item-2 .service-name h3 {
    margin-right: 100px;
}

.service-category .item-3 {
    float: right;
    margin-top: -123px;
    width: 552px;
    margin-bottom: 339px;
}

.service-category .item-3 .service-name {
    text-align: right;
}

.service-category .item-3 .service-name h3 {
    margin-left: 100px;
}

.service-category .service-name .service-index {
    color: #18C3EC;
    font-size: 89px;
    font-weight: 700;
}

.service-category .service-name h3 {
    color: #E54B4E;
    font-size: 16px;
    margin-bottom: 80px;
    letter-spacing: 5.87px;
    text-transform: uppercase;
}

.service-category .service-desc {
    font-size: 18px;
    font-weight: 400;
    letter-spacing: 0.95px;
    line-height: 24px;
}

#service .img-bottom {
    margin: 0 138px;
}

/* --------- reference-------------------------------- */

#reference {
    padding-bottom: 190px;
}

#reference .row {
    display: flex;
}

.reference-info {
    width: 50%;
    display: flex;
    flex-direction: column;
    margin-bottom: 54px;
    align-self: flex-end;
}

.reference-info .reference-info-top {
    align-self: flex-end;
    margin-bottom: 85px;
}

.reference-info-name {
    font-size: 36px;
    font-weight: 500;
    width: 337px;
    margin-bottom: 47px;
}

.reference-info-bottom {
    margin-right: 122px;
}

.reference-info-block {
    display: flex;
    flex-direction: column;
}

.reference-info-block .block-item {
    /* display: none; */
    height: 0;
    opacity: 0;
    transition: all 0.7s;
}

.reference-info-block .block-item.active {
    /* display: block; */
    opacity: 1;
    transition: all 0.7s;
    height: 371px;
}

.reference-info-block .block-title {
    color: #E54B4E;
    font-size: 16px;
    letter-spacing: 5.87px;
    margin-bottom: 201px;
}

.reference-info-block .block-desc {
    margin-left: 86px;
    margin-bottom: 67px;
    font-size: 18px;
    font-weight: 400;
    letter-spacing: 0.95px;
}

.reference-info-tab {
    width: 100%;
    border-radius: 33px;
    background-color: #dedede;
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.reference-info-tab .tab {
    display: inline-block;
    padding: 25px 45px;
    border-radius: 33px;
    font-size: 13px;
    font-weight: 500;
    text-transform: uppercase;
    color: #00000029;
    transition: all 0.8s ease;
    position: relative;
    z-index: 100;
    text-align: center;
    word-break: break-all;
}

.reference-info-tab .bg-tab {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    width: 0;
    border-radius: 33px;
    background-color: #fff;
    box-shadow: 4px 7px 12px #DEDEDE96;
    transition: all 0.8s ease-in-out;
}

.reference-info-tab .tab:hover {
    cursor: pointer;
    /* background-color: #efefef; */
}

.reference-info-tab .tab.active {
    /* padding-left: 33px;
    padding-right: 53px; */
    /* background-color: #fff; */
    font-weight: 700;
    transition: all 0.8s ease-in-out;
    color: #000;
}

/* slide */

.top-left {
    width: 34px;
    height: 27px;
    background-color: #fff;
    clip-path: polygon(54% 0, 100% 50%, 54% 100%, 24% 100%, 69% 50%, 26% 1%);
    margin-right: -20px;
    position: relative;
}

.top-right {
    width: 34px;
    height: 27px;
    background-color: #fff;
    clip-path: polygon(54% 0, 100% 50%, 54% 100%, 24% 100%, 69% 50%, 26% 1%);
    position: relative;
}

.logo-icon {
    display: flex;
    align-items: center;
}

.logo-icon p {
    font-family: 'Bebas Neue', cursive;
    color: #fff;
    text-transform: uppercase;
    font-size: 24px;
    font-weight: 400;
    margin-left: 30px;
}

.top-left::after,
.top-right::after {
    content: "";
    width: 25px;
    height: 2px;
    position: absolute;
    background: #AB3A1A;
    bottom: 12px;
    transform: rotate(45deg);
    left: 9px;
}

.reference-slide {
    width: 50% !important;
}

 .slide-item {
    background: transparent linear-gradient(140deg, #AB3A1A 0%, #3A319C 100%) 0% 0% no-repeat padding-box;
    height: 875px;
    /* width: 789px; */
    padding: 85px 100px 0 122px;
    color: #FFFFFF;
    position: relative;
    overflow: hidden;
    /* display: none; */
}

.owl-theme .owl-nav {
    font-size: 100px;
    position: absolute;
    top: 0;
    left: -200px;
}

.owl-theme .owl-nav button.owl-prev {
    margin-right: 50px;
}

.owl-theme .owl-nav button:hover {
    cursor: pointer;
    background: none !important;
    color: unset !important;
}

 .slide-item:last-child .slide-desc,
 .slide-item:last-child .slide-title {
    margin-bottom: 40px;
}

 .slide-item .slide-quote {
    font-size: 139px;
    font-family: "SF Movie Font";
    transform: matrix(1, 0, 0, -1, 0, 0);
}

.slide-item.last .slide-quote {
    height: 80px;
}

 .slide-item .slide-title {
    /* width: 468px; */
    font-size: 34px;
    letter-spacing: 1.8px;
    font-weight: 400;
    margin-bottom: 80px;
    line-height: 47px;
}

 .slide-item .slide-desc {
    font-size: 18px;
    font-weight: 400;
    letter-spacing: 0.95px;
    margin-bottom: 80px;
    line-height: 27px;
    /* width: 580px; */
}

 .slide-item .slide-footer h4 {
    font-size: 13px;
    font-weight: 600;
    letter-spacing: 0.53px;
    text-transform: uppercase;
}

 .slide-item .slide-footer p {
    font-size: 13px;
    font-weight: 400;
    letter-spacing: 0.53px;
}

/* ---------- ablauf ----------------- */

#ablauf {
    background-color: #fff !important;
}

.ablauf-top {
    position: relative;
    background-color: #000;
    background-image: url("../images/cosmic-background-with-orange-red-blue-laser-lights-perfect-digital-wallpaper.png");
    height: 1644px;
    background-repeat: no-repeat;
    margin-bottom: 148px;
    background-position: center;
}

.ablauf-top .ablauf-top-desc {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #fff;
    font-size: 96px;
    text-align: center;
    font-weight: 700;
}

.ablauf-content {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -79px;
    background-image: url(../images/pexels-cottonbro-3205568.png);
    background-repeat: no-repeat;
    background-position: bottom -75px right 157px;
}

.ablauf-content-item {
    width: calc(50% - 158px);
    margin: 0 79px;
    padding-top: 67px;
    padding-bottom: 275px;
    border-top: 2px solid #70707042;
}

.ablauf-content-item .ablauf-title {
    color: #0E0E0E;
    font-size: 53px;
    font-weight: 400;
    margin-bottom: 214px;
}

.ablauf-content-item .ablauf-desc {
    font-size: 20px;
    font-weight: 600;
    width: 75%;
    margin-left: 20px;
    line-height: 28px;
}

.ablauf-bottom {
    height: 900px;
    background-image: url(../images/DSC6225.png);
    background-repeat: no-repeat;
    margin-top: 228px;
    background-size: contain;
}

/* ---------- agentur ------------- */

#agentur {
    padding-top: 190px;
}

.agentur-uber {
    display: flex;
    justify-content: space-between;
    margin-bottom: 245px;
}

.agentur-uber .agentur-uber-title {
    width: 30%;
}

.agentur-uber .agentur-uber-desc {
    width: 70%;
    font-size: 18px;
    font-weight: 500;
    line-height: 32px;
}

.agentur-question .question-title,
.agentur-faq .agentur-faq-title,
.agentur-uber .agentur-uber-title {
    font-size: 36px;
    font-weight: 400;
}

.agentur-faq .agentur-faq-title {
    margin-bottom: 47px;
}

.agentur-question {
    display: flex;
    flex-direction: column;
}

.agentur-question .question-item {
    padding: 60px 138px 78px;
    border-bottom: 1px solid #0AA4A1;
    border-top: 1px solid #0AA4A1;
    position: relative;
    overflow: hidden;
}

.agentur-question .question-item:hover {
    cursor: pointer;
}

.question-item .question-description {
    width: 75%;
    text-indent: 50px;
    font-size: 18px;
    font-weight: 500;
    letter-spacing: 0.95px;
    line-height: 30px;
    transition: all 0.7s;
    height: 0;
    opacity: 0;
    visibility: hidden;
}

.question-item .question-description.active {
    opacity: 1;
    visibility: visible;
    margin-top: 50px;
    height: 100px;
}

.question-item ion-icon {
    position: absolute;
    top: 60px;
    right: 150px;
    font-size: 30px;
    transition: all 0.7s;
    color: #E54B4E;
}

.question-item ion-icon:hover {
    cursor: pointer;
}

.agentur-bottom {
    background-image: url(../images/3d-rendering-futuristic-background-with-neon-red-blue-lights.png);
    background-repeat: no-repeat;
    margin-top: 480px;
    padding: 326px 318px 200px 278px;
    color: #fff;
}

.agentur-bottom .agentur-bottom-title {
    font-size: 36px;
    font-weight: 500;
    line-height: 40px;
    width: 400px;
    margin-bottom: 125px;
}

.agentur-bottom-content {
    display: flex;
    margin: 0 -33px;
}

.agentur-bottom-content .content-item {
    width: calc(33.33333% - 66px);
    margin: 0 33px;
    padding-top: 50px;
    border-top: 2px solid #70707042;
}

.agentur-bottom-content .content-item .content-title {
    font-size: 28px;
    font-weight: 400;
    line-height: 40px;
    margin-bottom: 50px;
}

.agentur-bottom-content .content-item .content-desc {
    font-size: 13px;
    font-weight: 300;
    letter-spacing: 0.7px;
    line-height: 21px;
}

/* -------------------- footer kontakt ---------------- */
#footer {
    padding-top: 84px;
    padding-bottom: 217px;
    background-color: #0e0e0e;
    color: #fff;
    position: relative;
}

.kontakt-map {
    display: flex;
}

.kontakt-map .kontakt-title {
    font-size: 53px;
    font-weight: 800;
    line-height: 60px;
    /* position: absolute; */
    /* bottom: 20px; */
}

.kontakt-form form {
    display: flex;
    flex-direction: column;
    width: 535px;
    height: 735px;
    background-color: #fff;
    color: #000;
    border-radius: 8px;
    padding: 32px 27px 0 60px;
    position: absolute;
    top: -20px;
    right: 140px;
}

.kontakt-form form label {
    display: block;
    font-size: 10px;
    font-weight: 700;
    letter-spacing: 2px;
    line-height: 16px;
    margin-bottom: 100px;
}

.kontakt-form form input:not([type="submit"]) {
    font-size: 18px;
    font-weight: 600;
    letter-spacing: 1px;
    padding-bottom: 10px;
    border: none;
    border-bottom: 1px solid #E54B4E;
    margin-bottom: 80px;
    color: #0E0E0E;
    outline: none;
}

.kontakt-form form input::placeholder {
    color: #0E0E0E;
}

.kontakt-form form input[type="submit"] {
    color: #fff;
    font-size: 12px;
    font-weight: 700;
    letter-spacing: 1px;
    padding: 27px 42px 26px 50px;
    background-color: #0E0E0E;
    width: 222px;
    box-shadow: 0px 3px 6px #00000029;
    border-radius: 5px;
    align-self: flex-end;
    margin-right: -50px;
    text-align: left;
}

.kontakt-form form input[type="submit"]:hover {
    cursor: pointer;
}

.kontakt-form form input[type="submit"]+span::after {
    content: "";
    width: 54px;
    height: 1px;
    background-color: #dedede;
    position: absolute;
    bottom: 103px;
    right: 27px;
}

.kontakt-info {
    margin-top: 90px;
    display: flex;
    justify-content: space-between;
}

.kontakt-info a {
    color: #fff;
    display: block;
}

.kontakt-info-item h4 {
    font-size: 11px;
    font-weight: 700;
    letter-spacing: 2.4px;
    margin-bottom: 40px;
    text-transform: uppercase;
}

.kontakt-info-item p {
    font-size: 20px;
    letter-spacing: 1px;
    font-weight: 300;
    line-height: 35px;
}

.kontakt-info .kontakt-right {
    text-align: right;
}

.kontakt-info .kontakt-right a {
    position: relative;
    margin-bottom: 20px;
}

.kontakt-info .kontakt-right a::before {
    content: "";
    width: 25px;
    height: 1px;
    background-color: #dedede;
    position: absolute;
    top: 8px;
}

.kontakt-info .kontakt-right a:first-child:before {
    right: 100px
}

.kontakt-info .kontakt-right a:nth-child(2):before {
    right: 175px;
}

.kontakt-info .kontakt-right p {
    font-size: 10px;
    font-weight: 300px;
    letter-spacing: 0.5px;
    margin-top: 40px;
}