* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: Roboto, sans-serif;
}

.header {
    margin-top: 30px;
}

.header h2 {
    color: #309FB5;
    margin-top: 30px;
}

.text-center {
    text-align: center;
}

.time {
    margin-top: 20px;
    font-size: 20px;
    color: #7652b5;
}

#time {
    font-weight: bold;
    padding: 10px 0;
}

.statistical {
    margin-top: 30px !important;
    justify-content: space-evenly;
}

.totalCases,
.totalRecovered,
.totalDeaths {
    padding: 30px 20px;
    font-size: 24px;
    text-align: center;
    font-weight: bold;
}

.totalCases h3,
.totalRecovered h3,
.totalDeaths h3 {
    display: block;
    padding-bottom: 10px;
}

.totalCases {
    color: #186FB5;
}

.totalRecovered {
    color: #006233;
}

.totalDeaths {
    color: #E41E20;
}

.data-city {
    margin-top: 30px !important;
    padding: 0 5px !important;
}


.data-city table td,
.data-city table th {
    border: 1px solid #309FB5;
    padding: 10px;
}

#data-table td {
    border-bottom: none;
}

#data-table tr:last-child {
    border-bottom: 1px solid #309FB5;
}


#data-table td:nth-child(2) {
    font-weight: bold;
    color: #186fb5;
    text-align: center;
}

#data-table td:nth-child(3) {
    font-weight: bold;
    color: #006233;
    text-align: center;
}

#data-table td:nth-child(4) {
    font-weight: bold;
    color: #e41e20;
    text-align: center;
}

#table-city {
    border-collapse: collapse;
    width: 100%;
}

#table-city thead {
    display: table;
    table-layout: fixed;
    width: 100%;
}

#table-city tbody {
    height: 382px;
    overflow: scroll;
    display: block;
    padding: 0;
}

#table-city tbody::-webkit-scrollbar {
    display: none;
}

#table-city tbody tr {
    display: table;
    table-layout: fixed;
    width: 100%;
}

.footer {
    margin-top: 30px;
    padding: 20px 0;
    text-align: center;
    font-style: italic;
    font-weight: 600;
}

.footer a {
    text-decoration: none;
}

.scroll-top {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: #999;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    text-align: center;
    transition: all 0.3s;
    display: none;
}

.scroll-top p {
    color: #fff;
    font-size: 20px;
    transform: rotate(-90deg);
    line-height: 50px;
}

.scroll-top:hover {
    background-color: #309FB5;
    cursor: pointer;
}

.search-city {
    margin-bottom: 20px;
    font-size: 18px;
    border-radius: 50px;
    border: 1px solid #309FB5;
    padding: 5px 30px;
}

.search-city input {
    width: 100%;
    height: 25px;
    border: none;
    color: #309FB5;
    font-style: italic;
    letter-spacing: 1.5px;
}

.search-city input:focus {
    outline: none;
}