* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: Roboto, sans-serif;
}

.header {
    margin-top: 30px;
}

.header h2 {
    color: #309FB5;
    margin-top: 30px;
}

.text-center {
    text-align: center;
}

.time {
    margin-top: 20px;
    font-size: 20px;
    color: #7652b5;
}

#time {
    font-weight: bold;
    padding: 10px 0;
}

.statistical {
    margin-top: 30px !important;
    justify-content: space-evenly;
}

.totalCases,
.totalRecovered,
.totalDeaths {
    padding: 30px 20px;
    font-size: 24px;
    text-align: center;
    font-weight: bold;
}

.totalCases h3,
.totalRecovered h3,
.totalDeaths h3 {
    display: block;
    padding-bottom: 10px;
}

.totalCases {
    color: #186FB5;
}

.totalRecovered {
    color: #006233;
}

.totalDeaths {
    color: #E41E20;
}

.data-city {
    margin-top: 30px !important;
    padding: 0 5px !important;
}


.data-city table td,
.data-city table th {
    border: 1px solid #309FB5;
    padding: 10px;
}

#data-table td {
    border-bottom: none;
}

#data-table tr:last-child {
    border-bottom: 1px solid #309FB5;
}


#data-table td:nth-child(2) {
    font-weight: bold;
    color: #186fb5;
    text-align: center;
}

#data-table td:nth-child(3) {
    font-weight: bold;
    color: #006233;
    text-align: center;
}

#data-table td:nth-child(4) {
    font-weight: bold;
    color: #e41e20;
    text-align: center;
}

#table-city {
    border-collapse: collapse;
    width: 100%;
}

#table-city thead {
    display: table;
    table-layout: fixed;
    width: 100%;
}

#table-city tbody {
    height: 382px;
    overflow: scroll;
    display: block;
    padding: 0;
}

#table-city tbody::-webkit-scrollbar {
    display: none;
}

#table-city tbody tr {
    display: table;
    table-layout: fixed;
    width: 100%;
}

.footer {
    margin-top: 30px;
    padding: 20px 0;
    text-align: center;
    font-style: italic;
    font-weight: 600;
}

.footer a {
    text-decoration: none;
}

.scroll-top {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: #999;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    text-align: center;
    transition: all 0.3s;
    display: none;
}

.scroll-top p {
    color: #fff;
    font-size: 20px;
    transform: rotate(-90deg);
    line-height: 50px;
}

.scroll-top:hover {
    background-color: #309FB5;
    cursor: pointer;
}

.search-city {
    margin-bottom: 20px;
    font-size: 18px;
    border-radius: 50px;
    border: 1px solid #309FB5;
    padding: 5px 30px;
}

.search-city input {
    width: 100%;
    height: 25px;
    border: none;
    color: #309FB5;
    font-style: italic;
    letter-spacing: 1.5px;
}

.search-city input:focus {
    outline: none;
}

.th-city:hover,
.numeric-sort:hover {
    cursor: pointer;
}

.th-city::after,
.numeric-sort::after {
    content: "\296F";
    padding-left: 5px;
}


.th-city[data-sort-direction="1"]::after,
.numeric-sort[data-sort-direction = "1"]::after {
    content: "\25B4";
}

.th-city[data-sort-direction="-1"]::after,
.numeric-sort[data-sort-direction="-1"]::after {
    content: "\25BE";
}

/* ádsads */
.hidden {
    display: none;
}

svg {
    width: 20px;
    height: 20px;
    margin-right: 7px;
}

button,
.button {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    height: auto;
    padding-top: 8px;
    padding-bottom: 8px;
    color: #777;
    text-align: center;
    font-size: 14px;
    font-weight: 500;
    line-height: 1.1;
    letter-spacing: 2px;
    text-transform: capitalize;
    text-decoration: none;
    white-space: nowrap;
    border-radius: 4px;
    border: 1px solid #ddd;
    cursor: pointer;
}

button:hover,
.button:hover {
    border-color: #cdd;
}

.share-button,
.copy-link {
    padding-left: 30px;
    padding-right: 30px;
}

.share-button,
.share-dialog {
    position: fixed;
    bottom: 30px;
    left: 30px;
   
}

.share-dialog {
    display: none;
    width: 95%;
    max-width: 500px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, .15);
    z-index: -1;
    border: 1px solid #ddd;
    padding: 20px;
    border-radius: 4px;
    background-color: #fff;
}

.share-dialog.is-open {
    display: block;
    z-index: 2;
}

header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.targets {
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
    grid-gap: 20px;
    margin-bottom: 20px;
}

.close-button {
    background-color: transparent;
    border: none;
    padding: 0;
}

.close-button svg {
    margin-right: 0;
}

.link {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    border-radius: 4px;
    background-color: #eee;
}

.pen-url {
    margin-right: 15px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}